<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Most Popular Secrets</title>
  </head>
  <body>
    Most Popular Secrets...
    <a href="{% url 'secrets:welcome' %}">Back</a>
    {% for secret in secrets %}
      <p>{{secret.user_id}} {{secret.secret}} {{secret.created_at}}
        ({{secret.secret_like.count}} likes)
        {% if secret.user_id.id == user.id %}
          <a href="{% url 'secrets:delete' secret.id %}">Delete</a>
        {% else %}
          {% if user in secret.secretlikes %}
            You liked this!
          {% else %}
            <a href="{% url 'secrets:like' secret.id %}">Like</a>
          {% endif %}
        {% endif %}
      </p>
    {% endfor %}
  </body>
</html>
